#Analyzing the Data

In [1]:
import pandas as pd
import numpy as np
import pyodbc

In [3]:
#connecting to the database where the Wordle scores are held
conn = pyodbc.connect('Driver={SQL Server};'
                      'Server=AUSTIN-PC\SQLEXPRESS;'
                      'Database=WordleAnalysis;'
                      'Trusted_Connection=yes;')

cursor = conn.cursor()

#SQL query used to pull necessary data
query = "SELECT DISTINCT ID, Author, WordleDay, Score, HardMode FROM TwitterWordle WHERE WordleDay > 318 AND WordleDay < 360;"

wordle_data = pd.read_sql(query,conn)

wordle_data.head()

c:\Users\Austin Vandersteen\miniconda3\envs\minimal_ds\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

                    ID               Author  WordleDay  Score  HardMode
0  1526062100510015488            297411386        331      5     False
1  1530554037724016641            345010419        343      4      True
2  1533535864219144192           3742217114        352      4     False
3  1534638107085127681  1386790305899368448        354      6     False
4  1535370678660104192  1436343223874641964        356      6     False

In [6]:
#loading scores from Excel file

austin_data = pd.read_excel('Austin Wordle Scores.xlsx')

austin_data.head()

   WordleDay  Score  HardMode
0        319    2.0      True
1        320    3.0      True
2        321    5.0      True
3        322    2.0      True
4        323    6.0      True